// inc/head.jade
head
    title QuizzApp
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimal-ui")
    meta(name="apple-mobile-web-app-title", content="QuizzApp")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-touch-fullscreen", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700", rel="stylesheet", type="text/css")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", rel="stylesheet", type="text/css")
    script(src='//code.jquery.com/jquery-2.1.3.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    link(href="assets/styles.css", rel="stylesheet", type="text/css")
    script(src='/libs/fastclick.js')
        

