// server.jade
doctype html
html
    include inc/header
body
    div.header
        span.fa-stack.fa-lg
            i.fa.fa-square.fa-stack-2x
            i.fa.fa-circle-o-notch.fa-stack-1x
        div Quizz
            span App
    script(id="host-game-template", type="text/template")
        div(id="wordArea")
    
     
<!--    <script id="host-game-template" type="text/template">
        <div id="wordhost-game-template 
            <div class="info">Open this site on your mobile device:</div>
            <div id="gameURL" class="infoBig">Error!</div>

            <div class="info">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
            <div id="spanNewGameCode" class="gameId">Error!</div>
            <div id="hostWord" class="hidden">5</div>
        </div>
        <div id="playerScores">
        <h5>Player Scoreboard</h5>
        <hr>
            <div id="playersWaiting">Waiting for players...</div>
        </div>
    </script>-->
